<h1>Homepage Layout</h1>
<ul>
  <li><a href="/live/bvungbuou?roomId=hoitruong&consume=true&produce=false">Hội trường (View only)</a></li>
  <li><a href="/live/bvungbuou?roomId=hoitruong&consume=false&produce=true">Điểm phát (Mic/Cam)</a></li>
  <li><a href="/live/bvungbuou?roomId=hoitruong&consume=true&produce=true">Full options</a></li>
</ul>
